:root {
    --olive: #999b84;
    --cream: #f4eeed;
    --tan: #efd9d1;
    --brownish: #ddb7ab;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cream);
}

nav.navbar {
    background-color: var(--brownish);
}

header#header {
    padding-top: 80px;
    text-align: center;
}

header#header div img#leadTwo {
    height: 400px;
    width: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 10px solid var(--olive)
}

header#header img#BBheaderText {
    width: 300px;
    height: auto;
    margin: -10px;
    padding: 0;
}

section#about {
    background-color: var(--olive);
    color: var(--cream);
    padding: 20px;
}

section#separator {
    background-image: url("../images/pexels-mali-maeder-54257.jpg");
    background-position: center;
    background-size: cover;
    min-height: 200px;
    width: 100%;
    margin: 20px 0;
}

section#skills {
    background-color: var(--brownish);
    padding: 20px;
}

section#services,
section#gallery {
    padding: 20px;
}

#gallery #imgOne {
    min-height: 270px;
    background-size: cover;
    background-image: url("../images/pexels-burak-the-weekender-187041.jpg");
}

#gallery #imgTwo {
    min-height: 270px;
    background-size: cover;
    background-image: url("../images/pexels-lukas-590016.jpg");
}

#gallery #imgThree {
    min-height: 270px;
    background-size: cover;
    background-image: url("../images/pexels-pixabay-270637.jpg");
}

section#experience,
section#education {
    padding: 20px;
    background-color: var(--tan);
}

section#experience p,
section#education p {
    padding: 0;
    margin: 0;
}

#eduex {
    margin-top: 20px;
}

#eduex #skills {
    min-height: 542px;
}

@media screen and (min-width: 1000px) {
    #eduex #skills {
        min-height: 405px;
    }

}

@media screen and (max-width: 1000px) {
    #eduex {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 720px) {

    #eduex #skills {
        min-height: initial;
        margin-bottom: 20px;
    }

    #services {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}